
*.swp
*.swo
*~
tags
TAGS

.deps
.libs

*.o
*.a
*.so
*.so.*

*.la
*.lo

*.log
*.trs

Makefile
Makefile.in

autom4te.cache
autoscan.log
configure.scan
aclocal.m4
compile
config.guess
config.sub
depcomp
install-sh
ltmain.sh
missing
config.h.in
configure
libtool.m4
ltoptions.m4
ltsugar.m4
ltversion.m4
lt~obsolete.m4
config.h
config.status
libtool
stamp-h1
test-driver

*.shar.gz
*.tar.bz2
*.tar.gz
*.tar.lz
*.tar.xz
*.tar.zst
*.zip

test-aes
test-arc4
test-blake2b
test-blake2s
test-blowfish
test-chacha
test-crc32
test-has160
test-md2
test-md4
test-md5
test-rmd128
test-rmd160
test-sha1
test-sha256
test-sha512
test-siphash
test-tiger

