
*~
.swp
tags

# Archives
*.tar.gz
*.shar.gz
*.tar.Z
*.tar.bz2
*.tar.lz
*.tar.xz
*.tar.zst
*.zip


# C objects and libraries
*.o
*.a
*.so
*.so.*

# Precompiled headers
*.gch
*.pch

# Executables
*.out
*.bin
*.elf

# Autoconf
autom4te.cache
aclocal.m4
/compile
/config.log
/config.status
/configure
/depcomp
/install-sh
/missing

# Automake
Makefile.in
/ar-lib
.deps/
.dirstamp

# Generated Makefiles
Makefile

# Should just build these in a subdirectory
test-*
!test-*.c

